body {
  padding-top: 70px;
  padding-bottom: 30px;
  color: #286090;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.jumbotron {
    background-color: #EAF7FA;
}

.navbar-default {
    color: #2AABD2;
}

@media (min-width: 768px) {
    .navbar-default input[type='text'].form-control,
    .navbar-default input[type='password'].form-control {
        width: 150px;
    }
}

@media (min-width: 992px) {
    .navbar-default input[type='text'].form-control,
    .navbar-default input[type='password'].form-control {
        width: auto;
    }
}